
*.his
*.g12
*.g20
*.g02
*.g21
*.g22
*.mag
*.g01
*.g00
*.pyc
*.pyc
*.pyc
*.pyc
*.png
*.pyc
*.pyc
code/__pycache__/SamplingHisFileUtil.cpython-37.pyc
code/__pycache__/LoadInputDataUtility.cpython-37.pyc
code/__pycache__/MCMC_Noddy.cpython-37.pyc
code/__pycache__/PriorUncertaintyUtil.cpython-37.pyc
code/__pycache__/SamplingHisFileUtil.cpython-37.pyc
code/__pycache__/SimulationUtilities.cpython-37.pyc
code/__pycache__/VisualizationUtilities.cpython-37.pyc
*.csv
*.qpj
*.cpg
*.shx
*.shp
*.prj
*.dbf
*.vtk
*.g21
*.g20
*.grv
*.dxf
*.gif
*.g01
*.pyc
*.pkl
*.histemplate
